<% @categories.each do |category| %>
  <tr>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <td><%= link_to t("edit"), edit_admin_category_path(category),
      class: "btn btn-danger"%>
      <%= link_to t("delete"), admin_category_path(category),
      method: :delete,
      data: { confirm: t("are_you_sure") }, class: "btn btn-primary" %>
    </td>
  </tr>
<% end %>
