<tr>
  <td><%= gravatar_for user %></td>
  <td><%= link_to user.name, user %></td>
  <td><%= link_to user.email, user %></td>
  <td><%= link_to t("delete"), admin_user_path(user), method: :delete,
    data: {confirm: t("are_you_sure")}, class: "btn btn-link" %>
  </td>
</tr>
